body {
  background-color: white;
  font-family: "glbOpenSans", "Open Sans";
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 22%;
  margin-left: 22%;
}

.ctn {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ctn > h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.coluna {
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .coluna {
    width: 100%;
    float: none;
  }
}

.imagem-noticia {
  object-fit: fill;
  height: 30vw;
  width: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85rem;
  margin-top: 30px;
  border: 1px solid black;
}

h1 {
  display: flex;
  padding-left: 10px;
  font-size: 48px;
  align-self: flex-start;
}

.noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 22%;
  margin-left: 22%;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-self: flex-start;
  color:#555;
  font-size: 20px;
}

.texto-aux {
  display: flex;
  align-self: flex-start;
  color:#555;
  font-size: 20px;
}

.imagem-dino {
  max-width: 100%;
}

footer {
  background-color: #333;
  text-align: center;
  color: white;
  padding: 20px;
}

.icons {  
  text-align: center;
}

.icons a {
  color: white;
}

.icons a:hover {
  opacity: .9;
}

.icons i {
  padding: 10px;
}
